@media (min-width:992px){
    .respons_head_Section_Two{
      display: none;
      
    }
    .humbur{
        display: none;
    }
    }
    
    
    
    @media (max-width:992px) {
        .humbur{
            display: block !important;
            background-color: white !important;
        }
    
    
        #menu__toggle {
            opacity: 0;
          }
          #menu__toggle:checked + .menu__btn > span {
            transform: rotate(45deg);
          }
          #menu__toggle:checked + .menu__btn > span::before {
            top: 0;
            transform: rotate(0deg);
          }
          #menu__toggle:checked + .menu__btn > span::after {
            top: 0;
            transform: rotate(90deg);
          }
          #menu__toggle:checked ~ .menu__box {
            left: 0 !important;
          }
          .menu__btn {
            position: absolute;
            top: 20px;
            left: 20px;
            width: 26px;
            height: 26px;
            cursor: pointer;
            z-index: 1;
          }
          .menu__btn > span,
          .menu__btn > span::before,
          .menu__btn > span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #616161;
            transition-duration: .25s;
          }
          .menu__btn > span::before {
            content: '';
            top: -8px;
          }
          .menu__btn > span::after {
            content: '';
            top: 8px;
          }
          .menu__box {
            display: block;
            position: fixed;
            top: 0;
            left: -100%;
            width: 300px;
            height: 100%;
            margin: 0;
            padding: 80px 0;
            list-style: none;
            background-color: white;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
            transition-duration: .25s;
           
          }
          .menu__item {
            display: block;
            padding: 12px 24px;
            color: #333;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            transition-duration: .25s;
          }
          .menu__item:hover {
            background-color: #CFD8DC;
          }
          .dropdown{
            padding: 0 auto !important;
            
            
          }
          .drpbtn{
            padding: 0 !important;
            font-weight: bold !important;
          }
    
    
        .head_Section_One{
            display: none;
        }
    
        .fire{
            display: none !important;
        }
        .categories{
            display: none !important;
        }
        .blog{
            display: none !important; 
        }
        .head_Section_Two{
            display: none !important; 
        }
        .signIn{
            display: none !important; 
        }
    hr{
        display: none !important; 
    }
    .bestHead{
        display: none !important;
    }
    
        .respons_head_Section_Two{
            padding-top: 1%;
            max-width: 100%;
            height: 30%;
            background-color: white;
        }
        .signIcon{
            display: flex;
            justify-content: space-around;
    
            
        }
        .div_hov{
          height: 62vh !important;
        }
        .signIcon div img{
            width: 20px;
            height: 20px;
        }
        .div_man{
            margin-top: 5%;
        }
        .div_item{
            display: flex;
            position: relative;
            color: white;
            border-radius: 10px;
            max-width: 100%;
            max-height: 100vh;
        
        }
        .dote div{
          width: 5% !important;
          height: 5vh !important;
        }
        
        .div_item img{
            width: 100%;
            max-height: auto;
            border-radius: 10px;
           
        }
        .divman_text{
            position: absolute;
            width: 93%;
            height: auto;
            left: 15px;
            top: 20px;
            color: white;
            transition: 0.5s;
        
        }
        .divman_text:hover{
            background: rgba(152, 151, 151, 0.5);
        
        }
        .txt_saat h5,h4{
    
            font-size: 14px !important;
        }
        .phone{
            margin: 0 !important;
        }
    
        .bestDeal{
          margin-top: 50px;
          max-height: auto;
      }
    
     .review{
      margin-top: 20%;
     }
     .application img{
      height: 10vh;
     }
    }
.date{
    width: auto !important;
    height: auto !important;
}
.bloge button{
    width: 30% !important;
    height: 7vh !important;

}
.bloge button:hover{
  background-color: black;
  color: white;
}
.logo img {
    width: auto !important;
    height: auto !important;
}